{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1>Login to Rango</h1>

    <form id="login_form" method="post" action="{% url 'login' %}">

        {% if invalid_login %}
            <p><strong>Invalid login details supplied.</strong></p>
        {% elif disabled %}
            <p><strong>Your Rango account is currently disabled.</strong></p>
        {% endif %}

        {% csrf_token %}
        Username: <input id="id_username" maxlength="50" name="username" type="text" required>
        <br />
        Password: <input id="id_password" name="password" type="password" required>
        <br />
        <input type="submit" value="submit">
    </form>
{% endblock %}
